<div id="sidebar">
    <div class="sidebar-header">
        <div class="row">
            <div class="col-md-4 padding-left-0">
                <img [src]="userPhotoUrl" class="img">
            </div>
            <div class="col-md-8">
                <h6>
                    {{user.username}}
                </h6>
                <a class="small-font">
                    {{user.email}}
                </a>
                <div class="row">
                    <i class="fa fa-pencil put-right click" (click)="onClickEditProfile($event)"></i>
                </div>
            </div>
        </div>
    </div>

    <ul class="list-unstyled components">

        <li class="active">
            <a href="#topicsSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Topics</a>
            <ul *ngFor="let topic of topics" class="collapse list-unstyled" id="topicsSubmenu">
                <li>
                    <a class="nav-link" routerLink="/topic/{{topic.title}}/">{{topic.title}}</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#">About</a>
        </li>
        <li>
            <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Pages</a>
            <ul class="collapse list-unstyled" id="pageSubmenu">
                <li>
                    <a href="#">Page 1</a>
                </li>
                <li>
                    <a href="#">Page 2</a>
                </li>
                <li>
                    <a href="#">Page 3</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#">Portfolio</a>
        </li>
        <li>
            <a href="#">Contact</a>
        </li>
    </ul>
</div>