<div id="sidebar">
    <div class="sidebar-header">
        <div class="row">
            <div class="col-md-4 padding-left-0">
                <img [src]="userPhotoUrl" class="img">
            </div>
            <div class="col-md-8">
                <h6>
                    {{user.username}}
                </h6>
                <a class="small-font">
                    {{user.email}}
                </a>
            </div>
        </div>
    </div>

    <ul class="list-unstyled components">

        <li class="active">
            <a>Topics

                <button type="button" class="topic-modal-btn" data-toggle="modal" data-target="#topicModal">
                    <i class="fa fa-plus"> </i>
                </button>
            </a>
            <ul *ngFor="let topic of topics" class="list-unstyled" id="topicsSubmenu">
                <li>
                    <a class="nav-link" routerLink="/topic/{{topic.topic_id}}/">{{topic.title}}</a>
                </li>
            </ul>
        </li>
    </ul>
</div>

<div class="modal fade" id="topicModal" tabindex="-1" role="dialog" aria-labelledby="topicModalLabel" aria-hidden="true">
    <app-topic-modal class="modal-overlay"></app-topic-modal>
</div>