<div class="dropdown-menu" aria-labelledby="navbarDropdown">
    <div *ngIf="0 > 0" class="alert alert-danger">
        <button (click)="closeError($event)" type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
  
    <div class="col-md-12">
        <div class="form-group">
            <label for="exampleDropdownFormEmail2">Email</label>
            <input type="email" class="form-control exampleDropdownFormEmail2" #usernameBox id="username-box" placeholder="email@ejemplo.com" (keydown)="keyDownFunction(usernameBox.value, passwordBox.value,$event)">
        </div>
        <div class="form-group">
            <label for="exampleDropdownFormPassword2">Contraseña</label>
            <input type="password" class="form-control" #passwordBox id="password-box" placeholder="Contraseña" (keydown)="keyDownFunction(usernameBox.value, passwordBox.value,$event)">
        </div>
        <div class="dropdown-divider"></div>
        <button class="dropdown-item" href="#" id="login-btn" (click)="onSubmit(usernameBox.value, passwordBox.value, $event)">Iniciar sesión</button>
    </div>
</div>