<div class="dropdown-menu" aria-labelledby="navbarDropdown">

    <flash-messages></flash-messages>
    <div *ngIf="looged==='false'" class="col-md-12">
        <div class="form-group">
            <label for="dropdownFormEmail">Email</label>
            <input type="email" class="form-control" name="dropdownFormEmail"
                #usernameBox id="username-box" placeholder="email@ejemplo.com" 
                    (keydown)="keyDownFunction(usernameBox.value, passwordBox.value,$event)"
                        data-toggle="tooltip" data-placement="top" title="Ingrese email" required>
        </div>
        <div class="form-group">
            <label for="dropdownFormPassword">Contraseña</label>
            <input type="password" name="dropdownFormPassword" class="form-control" #passwordBox id="password-box"
                placeholder="Contraseña" (keydown)="keyDownFunction(usernameBox.value, passwordBox.value,$event)"
                    data-toggle="tooltip" data-placement="top" title="Ingrese contraseña" required>
        </div>
        <div class="dropdown-divider"></div>
        <button [disabled]="!btnEnable || waitingResponse" class="dropdown-item" id="login-btn" (click)="onSubmit(usernameBox.value, passwordBox.value, $event)">
            <div *ngIf="!waitingResponse else loading" class="span">
                Iniciar sesión
            </div>
            <ng-template #loading>
                <div *ngIf="waitingResponse" class="span">
                    <div class="typing_loader small"></div>
                </div>
            </ng-template>
        </button>
    </div>
    <div *ngIf="looged!== 'false'" class="col-md-12">
        <button class="dropdown-item logout-btn" id="logout-btn" (click)="onLogout()">
            <div class="span">
                Cerrar sesión
            </div>
        </button>
    </div>
</div>