<app-posts id="content" *ngIf="user.email else notLogged"></app-posts>
<ng-template id="content" #notLogged>
  <div class="home">
    <div class="home-form">
      
      <button class="btn btn-info" [ngClass]="{'active': choice === 1}" (click)="choice = 1" id="login">Iniciar sesión</button>
      <button class="btn btn-danger" [ngClass]="{'active': choice === 2}" (click)="choice = 2" id="signup">Registarse</button>
      <div class="forms">
        <app-login *ngIf="choice === 1"></app-login>
        <app-signup *ngIf="choice !== 1"></app-signup>
      </div>
    </div>
  </div>
</ng-template>