$opacity: 65%;
.home {
    background: url('../../assets/home.jpg');
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-repeat: no-repeat;
    overflow: auto;
    -webkit-filter: opacity($opacity);
    -moz-filter: opacity($opacity);
    -o-filter: opacity($opacity);
    -ms-filter: opacity($opacity);
    filter: opacity($opacity);
}

.home-form {
    position: relative;
    margin-top: 20vh;
    margin-bottom: 10vh;
    margin-left: 28vw;
    background-color: black;
    box-shadow: 0 3em 3em 3em rgba(0, 0, 0, 0.15);
    width: 50%;
    padding: 4em;
    border-radius: 0.25rem;
}

.home-form > button {
    display: inline-block;
    width: 50%;
    line-height: 3em;
}

.btn-info.active {
    background-color: #0bacc6 !important;
    border-color: #0bacc6;
    font-weight: bold;
}


.btn-danger.active {
    background-color: #e9061d !important;
    border-color: #e9061d;
    font-weight: bold;
}

.forms {
    margin-top: 1em;
    border-radius: 0.25rem;
    // box-shadow: 0em 0em 0.2em 0.2em white;
    padding: 3.5rem 0;
    
}