<!--The content below is only a placeholder and can be replaced.
<div class="wrapper">
  <flash-messages class="overlay" (click)="preventClose($event)"></flash-messages>
  <nav *ngIf="user.email" id="sidebar">
      <app-sidebar></app-sidebar>
  </nav>
  <div *ngIf="!loading" id="content">
    <app-navbar></app-navbar>
    <app-posts *ngIf="user.email else notLogged"></app-posts>
  </div>
  <ng-template #loadingTemplate>
    <div>
    </div>
  </ng-template>
  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px', backdropBackgroundColour: '#78878a4d'}" [template]="loadingTemplate"></ngx-loading>
</div>
-->
<app-posts *ngIf="user.email else notLogged"></app-posts>
<ng-template #notLogged>
  <div class="home">
    <div class="home-form">
      
      <button class="btn btn-info" [ngClass]="{'active': choice === 1}" (click)="choice = 1" id="login">Iniciar sesión</button>
      <button class="btn btn-danger" [ngClass]="{'active': choice === 2}" (click)="choice = 2" id="signup">Registarse</button>
      <div class="forms">
        <app-login *ngIf="choice === 1"></app-login>
        <app-signup *ngIf="choice !== 1"></app-signup>
      </div>
    </div>
  </div>
</ng-template>