<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Nuevo topic</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form #topicForm="ngForm">
                <div class="form-group">
                    <div class="col-md-12">
                        <label for="title">Nombre</label>
                        <input type="text" class="form-control" id="title" placeholder="Ingrese un nombre:" [(ngModel)]='topic.title' name='title' #title="ngModel"
                        (keyup)="validateInput()"  data-toggle="tooltip" data-placement="top" title="Largo mayor que 4" required>
                        <div [hidden]="title.pristine || validInputs.title" class="alert alert-danger">
                            Debe tener más de 4 caracteres.
                        </div>
                    </div>
                    <div class="col-md-12">
                        <label for="description">Descripción</label>
                        <textarea (keyup)="validateInput()" 
                         class="form-control" id="description" placeholder="Ingrese una descripción:" [(ngModel)]="topic.description" name="description" #description="ngModel">
                        </textarea>
                        <div [hidden]="description.pristine || validInputs.description" class="alert alert-danger">
                            Debe tener más de 4 caracteres.
                        </div>
                    </div>
                </div>

            </form>
        </div>
        <div class="modal-footer">
            <button (click)="submitNewTopic($event)" type="button" class="btn btn-success" [disabled]="!(validInputs.title && validInputs.description) || waitingResponse" [ngClass]="btn-enable">
                <span *ngIf="!waitingResponse else loading">Save changes</span>
                <ng-template #loading>
                    <div *ngIf="waitingResponse" class="span">
                        <div class="typing_loader small"></div>
                    </div>
                </ng-template>
            </button>
        </div>
    </div>
</div>