<div class="wrapper">
    <flash-messages class="overlay" (click)="preventClose($event)"></flash-messages>
    <nav *ngIf="user.email" id="sidebar">
        <app-sidebar></app-sidebar>
    </nav>
    <div id="content">
        <app-navbar ></app-navbar>
        <router-outlet></router-outlet>
    </div>
    <ng-template #loadingTemplate>
        <div>
        </div>
    </ng-template>
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px', backdropBackgroundColour: '#78878a4d'}" [template]="loadingTemplate"></ngx-loading>
</div>

