#login-btn, #login-btn[disabled]{
  border-radius: 0.25rem;
  text-align: center;
  cursor: pointer;
}

#login-btn {
  background-color: green;
  color: white;
}

#login-btn[disabled], #login-btn[disabled]:hover {
  background-color: transparent;
  color: #28a745;
  border: 1px #28a745 solid;
}

#login-btn:hover {
  background-color: #4bbd65;
  color: white;
}

.dropdown-menu{
  right: 0;
  left: auto !important;
  width: 14em;
}
.dropdown-menu{
  font-weight: 400;
}

#login-btn[disabled] {
  cursor: default;
}

.small {
  width: 1.1rem;
  height: 1.1rem;
  margin: 0.5rem 3.2rem;
}