<div id="posts-background">
  <div id="posts-header" class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
      <h2 class="text-center">{{topicName}}</h2>
    </div>
    <div class="col-md-4">
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2 right" type="search" placeholder="Search" aria-label="Search">
      </form>
    </div>
  </div>
  <div *ngFor="let postId of postsIds" id="posts-body">
    <app-post [postId]="postId" [topicName]="topicName"></app-post>
  </div>
  <div id="posts-new">
    <app-form></app-form>
  </div>
</div>