<div id="posts-background" class="search-results">
  <div id="posts-header" class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
      <h2 class="text-center">{{topicName}} 
        <span data-toggle="tooltip" data-placement="top" title="{{ isUserSubscribed ? 'Dejar de seguir el topic' : 'Seguir el topic' }}">
            <i class="fa fa-check click" [ngClass]="{'fa-times': isUserSubscribed}" (click)="isUserSubscribed ? unFollowTopic() : followTopic()"></i> 
        </span>
        
      </h2>
    </div>
    <div class="col-md-4">
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2 right" type="search" placeholder="Search" aria-label="Search">
      </form>
    </div>
  </div>
  <div *ngFor="let post of postsArray" id="posts-body">
    <app-post [postId]="post.post_id" [topicName]="topicName"></app-post>
  </div>
  <div id="posts-new">
    <app-form [topicId]="topicId" ></app-form>
  </div>
</div>