.dropdown-item:hover{
  background-color: #28a745;
  color: white;
}
.logout-btn{
  background-color: red!important;
  color: black;
  cursor: pointer;
}
.dropdown-menu{
  right: 0;
  left: auto !important;
  width: 14em;
}