<div class="container"> 
  <div class="body">
    <img src="{{user.url}}" alt="Hugh Jackman" class="body-image" />
    <div class="body-action-button u-flex-center">
      <i class="fa fa-wrench fa-2x"></i>
    </div>
    <span class="body-stats" data-toggle="tooltip" data-placement="left" title="Ver seguidores">Followers <span>{{user.followers}}</span></span>
    <span class="body-stats" data-toggle="tooltip" data-placement="left" title="Ver seguidos">Following <span>{{user.following}}</span></span>
    <span class="body-stats" data-toggle="tooltip" data-placement="left" title="Ver posts">Posts <span>{{user.following}}</span></span>
    <div class="u-clearfix"></div>
  </div>
</div>

<div class="container">
  <form>
    <div class="form_line">
      <label>Profile Image:</label>
      <div class="form_controls">
        <div class="upload_button_holder">
          <label class="upload_button" for="fileupload">Upload</label>
          <!-- onChange hanlder resets the input value to get the change event when uploading the same file consecutively -->
        </div>

      </div>
    </div>
  </form>
</div>

<div class="container">
  <ol>
    <li>Aca irian los posts del usuario</li>
    <li>1</li>
  </ol>
</div>
