<div class="container"> 
  <div class="body">
    <div class="row">
      <label for="file" data-toggle="tooltip" data-placement="left" title="Cambiar imagen">
        <img src="{{user.imageUrl || user.defaultImageUrl}}" alt="user image" class="body-image" />
      </label>
      <input type="file" name="file" (click)="changeFile()" id="file" ng2FileSelect [uploader]="uploader" accept="image/*;capture=camera" class="inputfile">
      <button *ngIf="fileChoosen" [disabled]="loading" (click)="upload()" class="btn btn-success mt-3">Actualizar imagen</button>
    </div>
    
    <div class="body-action-button u-flex-center">
      <i class="fa fa-wrench fa-2x"></i>
    </div>
    <span class="body-stats" data-toggle="tooltip" data-placement="left" title="Ver seguidores">Followers <span>{{user.followers.length}}</span></span>
    <span class="body-stats" data-toggle="tooltip" data-placement="left" title="Ver seguidos">Following <span>{{user.following? user.following.length : 0}}</span></span>
    <span class="body-stats" data-toggle="tooltip" data-placement="left" title="Ver posts">Posts <span>{{user.following}}</span></span>
    <span *ngIf="user.id !== currentUser.id" class="body-stats" (click)="followUser()" > {{following? "Dejar de seguir" : "Seguir"}} </span>
    <div class="u-clearfix">
    </div>
  </div>
</div>



<div class="container">
  <div class="scroll-container">
    <div *ngFor="let post of postsArray" id="posts-body">
      <app-post [postId]="post.post_id"></app-post>
    </div>
  </div>
</div>
