<div class="wrapper">
    <!-- Sidebar -->
    <nav id="sidebar">
        <app-sidebar></app-sidebar>
    </nav>
    <div id="content">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
    
                <button type="button" id="sidebarCollapse" class="btn btn-info">
                    <i class="fa fa-align-justify"></i>
                    
                </button>
    
          
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="nav navbar-nav">
                    
                    <li class="nav-item" data-toggle="tooltip" title="Prueba" data-placement="top">
                      <a class="nav-link nav-color" routerLink='/'>
                        HOME
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link nav-color" routerLink='/'>
                        Posts
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link nav-color" routerLink='/'>
                        Perfil
                      </a>
                    </li>
                  </ul>
                  <ul class="nav navbar-nav" id="rightBox">
                    <li class="nav-item dropdown">
                      <a class="btn btn-primary dropdown-toggle" href="#" id="logInDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        Iniciar Sesión
                      </a>
                      <app-login></app-login>
                    </li>
                    <li class="nav-item dropdown">
                      <a class="btn btn-danger dropdown-toggle" href="#" id="signUpDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                          aria-expanded="false">
                          Inscríbete
                      </a>
                      <app-signup></app-signup>
                    </li>
                  
                  </ul>
                </div>
              </div>
        </nav>
    </div>
</div>

<!-- <nav class=" navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="nav navbar-nav">
        
        <li class="nav-item" data-toggle="tooltip" title="Prueba" data-placement="top">
          <a class="nav-link nav-color" routerLink='/'>
            HOME
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-color" routerLink='/'>
            Posts
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-color" routerLink='/'>
            Perfil
          </a>
        </li>
      </ul>
      <ul class="nav navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a class="btn btn-primary dropdown-toggle" href="#" id="logInDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            Iniciar Sesión
          </a>
          <app-login></app-login>
        </li>
        <li class="nav-item dropdown">
          <a class="btn btn-danger dropdown-toggle" href="#" id="signUpDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              Inscríbete
          </a>
          <app-signup></app-signup>
        </li>
      </ul>
    </div>
  </div>
</nav>
-->