

#sidebar.active {
    margin-left: -250px;
}


#rightBox {
    margin-left: 60%;
}


a[data-toggle="collapse"] {
    position: relative;
}


body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}



#rightBox.active > li {
    display: inline-block;
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}
.dropdown{
    position: absolute;
    right: 0;
}
.nav-item:hover{
    color: black; 
    font-weight: bold;
}
.btn-toogle{
    background-color: #1c677F;
}
.btn-toogle:hover{
    border-color: #1c677F;
}
