.navbar {
    box-shadow: 0 0.2em 0.5em 0.5em rgba(0, 0, 0, 0.15);
}

#sidebar.active {
    margin-left: -250px;
}


#rightBox {
    margin-left: 60%;
}


a[data-toggle="collapse"] {
    position: relative;
}


body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}



#rightBox.active > li {
    display: inline-block;
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}
/* .dropdown{
    position: absolute;
    right: 0;
} */
.nav-item:hover{
    color: black; 
    font-weight: bold;
    #login, #signup {
        font-weight: normal;
    }
}
.btn-toogle{
    background-color: #1c677F;
}
.btn-toogle:hover{
    border-color: #1c677F;
}

#login {
    margin-right: 3em;
    width: 100%;
    &:hover {
        font-weight: normal;
    }
}

#signup {
    width: 100%;
}

#signup:hover {
    font-weight: normal;
}

.registration, #logout {
    position: absolute;
    right: 3%;
}

.registration > li.nav-item {
    display: inline-block;
}

.logout-btn {
    background: None;
    color: black;
    cursor: pointer;
    width: 100%;
}